<div class="task-manager-container">
  <div class="sidebar">
    <div class="profile-section">
      <img src="/avatar.png" class="profile-img" alt="Profile">
      <div class="profile-info">
        <p class="uname">{{ userName }}</p>
        <p class="uemail">{{ userEmail }}</p>
      </div>
    </div>
    <div class="search-bar">
      <input type="text" placeholder="Search..." class="search-input" [(ngModel)]="searchQuery" (input)="onSearch()">
      <mat-icon class="search-icon">search</mat-icon>
    </div>
    <!--material ui list for the sidebar with all the options-->
    <mat-nav-list>
      <mat-list-item class="list" routerLink="/main" [ngClass]="{'active': activeRoute === '/main'}">
        <mat-icon>home</mat-icon>
        <span>  My Day  </span>
      </mat-list-item>
      <mat-list-item class="list" routerLink="/important" [ngClass]="{'active': activeRoute === '/important'}">
        <mat-icon>star</mat-icon>
        <span>  Important  </span>
      </mat-list-item>
      <!--uses ng material ui such as mat icon, mat list item-->
      <mat-list-item class="list" routerLink="/planned" [ngClass]="{'active': activeRoute === '/planned'}">
        <mat-icon>event</mat-icon>
        <span>  Add To-Do  </span>
      </mat-list-item>
      <mat-list-item class="list" routerLink="/tasks" [ngClass]="{'active': activeRoute === '/tasks'}">
        <mat-icon>list</mat-icon>
        <span>  Edit To-Do  </span>
      </mat-list-item>
      <mat-list-item class="list" routerLink="/deletedtasks" [ngClass]="{'active': activeRoute === '/deletedtasks'}">
        <mat-icon>delete</mat-icon>
        <span>  Deleted tasks  </span>
      </mat-list-item>
    </mat-nav-list>
    <mat-divider class="divider"></mat-divider>
  </div>
  <!--div class to add content-->
  <div class="content">
    <h1 class="myday">My Day</h1>
    <p class="date">{{ currentDate }}</p>
    <div class="tasks-container">
      <!---->
      <div class="task-item" *ngFor="let task of filteredTasks; let i = index">
        <input type="checkbox" id="task-checkbox" class="task" (change)="toggleTaskCompletion(task)" [checked]="task.completed" />
        <label for="task-checkbox-{{task.name}}">{{task.name}}</label>
        <div class="icons">
          <!--the two icon buttond to mark a task as important and the other to delete the task-->
          <button mat-icon-button (click)="toggleImportant(task)">
            <mat-icon class="star-icon">{{ task.important ? 'star' : 'star_border' }}</mat-icon>
          </button>
          <button mat-icon-button (click)="deleteTask(i)">
            <mat-icon class="bin-icon">delete</mat-icon>
          </button>
        </div>
      </div>
    </div>
    <!--add a task button-->
    <button mat-button class="add-task-button custom-button" (click)="addTask()">+ Add a task</button>
  </div>
</div>
