<!--the page displayed on start-->
<div class="main-container">
    <div class="image-container">
        <div class="image-one">
            <img class="laptop" src="/welcome-left.png" alt="Person with Laptop">
        </div>
        <div class="content">
            <div class="logo">
                <img src="/logo.png" alt="logo">
            </div>
            <h1>TaskNest</h1>
            <p><b>Nest your tasks, simplify your life</b></p>
            <div class="buttons">
                <button mat-raised-button [routerLink]="['/signup']" class="get-started">Get started</button>
                <button mat-button [routerLink]="['/login']" class="login">Login</button>
            </div>
        </div>
        <div class="image-two">
            <img class="phone" src="/welcome-right.png" alt="Person with Phone">
        </div>
    </div>
</div>
